body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: url('resources/background.jpg');
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 250px);
	width: 600px;
	height: 750px;
}

.card {
	width: 160px;
	height: 200px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	transform-style: preserve-3d;
	perspective: 800px;
	transition: .5s;
}

.card:hover:not(.card_opened) .card__front,
.card:hover .card__back  {
	filter: brightness(1.1);
	/* transform: scale(1.1); */
	box-shadow: -1px 2px 3px 1px rgb(66 66 66 / 20%), 0 3px 8px 4px rgb(66 66 66 / 10%);
}

.card:hover:not(.card_opened) {
	transform: scale(1.1);
}

.card.card_opened .card__front {
	transform: rotateX(-180deg);
	visibility: hidden;
}

.card.card_opened .card__back {
	visibility: visible;
	transform: rotateX(0deg);
}

.card.card_opened {
	/* width: 400px;
	height: 550px; */
}

.card.card_big {
	width: 400px;
	height: 550px;
}

.card__front {
	width: 100%;
	height: 100%;
	border: 3px solid #ce6e25; /* #fa6418; */
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #35034c; /* #262323; */
	transform: rotateX(0deg);
	transition: .5s;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: ease-in-out 600ms;
	background: linear-gradient(-45deg, #ee7752, #35034c);
	background-size: 300% 300%;
	animation: gradient 6s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card__front-image {
	width: 7rem;
	position: absolute;
	top: 11%;
}

.card__back {
	width: 100%;
	height: 100%;
	background-color: #ff732c;
	border: 3px solid #000;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: rotateX(180deg);
	transition: .5s;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: ease-in-out 600ms;
}

.card__back-image {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.card__back-wish {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
	font-size: 35px;
	padding: 25px;
	padding-top: 60px;
}

.card__front-name {
	width: 110px;
	position: absolute;
	bottom: 6%;
	right: 10%;
	text-align: center;
	font-size: 14px;
	color: #ffd800;
	text-shadow: -1px 0 #000000cc, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-ghost {
	width: 160px;
	height: 200px;
}